taxis.parquet
yellow_taxis.parquet
green_taxis.parquet
venv
df_time.parquet
df_ml.parquet
taxis_limpios.parquet
var_cuanti.parquet
taxis_def.parquet
ETL_taxis copy.ipynb
df_grouped.parquet
Calibracion_Modelo.ipynb
diario_inter.csv
semanal_inter.csv
ML
